doctype html
html(lang="ko")
  head
    title 강사 목록
    style.
      table {
        width: 100%;
        border-collapse: collapse;
      }
      th, td {
        border: 1px solid #c8c8c8;
        padding: 8px;
        text-align: center ;
        white-space : pre-line;
      }
      th {
        background-color: #f2f2f2;
      }
      img {
        width: 50px;
        height: 50px;
        object-fit: cover;
      }
  body(style="text-align: center; align-items: center; justify-contents: center; display: flex;")
    div
      h1 강사 목록
      table
        thead
          tr
            th ID
            th 프로필
            th 이름
            th 분류
            th 경력
            th 평점
            th 학생수
            th 수정
            th 삭제
        tbody
          each teacher in teachersArray
            tr(data-id=teacher.id)
              td= teacher.id
              td: img(src=`${teacher.profile}`, alt=teacher.name, style="width: 50px; height: 50px;")
              td= teacher.name
              td= teacher.category
              td= teacher.career
              td= teacher.rating
              td= teacher.student
              td: button.update-button 수정
              td: button.delete-button 삭제
            
  script(src="/js/teacher-script.js")